<h1>Cookie Overflow</h1>
<h2>When Lisa spoils you too much</h2>

<table>

  <% @questions.each do |question| %>
    <tr>
      <td><%= link_to "#{question.title}", question_path(question) %></td>
      <td> Asked by: <%= link_to "#{question.user.username}", user_path(question.user) %></td>
    </tr>

  <% end %>
</table>
